Kartverket.Geosynkronisering/DatasetSchemas/Planomriss.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:app="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Planomriss/4.5"
  xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified"
  targetNamespace="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Planomriss/4.5"
  version="4.5.0beta1">
  <import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="PlanstatusType">
    <annotation>
      <documentation>planens behandling (pbl. 1985 §§ 19-4, 20-5, 27-1, 27-2, 28-1 og 28-2) samt
        planens virkning (pbl. 1985 §§ 19-6, 20-6, 28-2 og 31/pbl. §§ 8-3, 8-4, 9-3, 9-4, §§ 11-12
        til 11-15, og §§ 12-8 til 12-12)</documentation>
    </annotation>
    <union memberTypes="app:PlanstatusEnumerationType app:PlanstatusOtherType"/>
  </simpleType>
  <simpleType name="PlanstatusEnumerationType">
    <annotation>
      <documentation>planens behandling (pbl. 1985 §§ 19-4, 20-5, 27-1, 27-2, 28-1 og 28-2) samt
        planens virkning (pbl. 1985 §§ 19-6, 20-6, 28-2 og 31/pbl. §§ 8-3, 8-4, 9-3, 9-4, §§ 11-12
        til 11-15, og §§ 12-8 til 12-12)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Planlegging igangsatt"/>
      <enumeration value="Planforslag"/>
      <enumeration value="Endelig vedtatt arealplan"/>
      <enumeration value="Opphevet"/>
      <enumeration value="Utgått/erstattet"/>
      <enumeration value="Vedtatt plan med utsatt rettsvirkning"/>
      <enumeration value="Endelig vedtatt plan underlagt tidsbegrensning"/>
      <enumeration value="Overstyrt"/>
    </restriction>
  </simpleType>
  <simpleType name="PlanstatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RpPlantypeType">
    <annotation>
      <documentation>type plan (pbl. 1985 § 19-1, sjette ledd, § 20-1 andre og femte ledd og § 22 og
        § 28-2/pbl. §§ 8-1, 11-5, 12-2 og 12-3)</documentation>
    </annotation>
    <union memberTypes="app:RpPlantypeEnumerationType app:RpPlantypeOtherType"/>
  </simpleType>
  <simpleType name="RpPlantypeEnumerationType">
    <annotation>
      <documentation>type plan (pbl. 1985 § 19-1, sjette ledd, § 20-1 andre og femte ledd og § 22 og
        § 28-2/pbl. §§ 8-1, 11-5, 12-2 og 12-3)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Eldre reguleringsplan"/>
      <enumeration value="Mindre reguleringsendring"/>
      <enumeration value="Bebyggelsesplan ihht. Reguleringsplan">
        <annotation>
          <documentation>Bebyggelsesplan i henhold til reguleringsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Bebyggelsesplan ihht kommunepl. arealdel">
        <annotation>
          <documentation>Bebyggelsesplan i henhold til kommuneplanens arealdel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Områderegulering"/>
      <enumeration value="Detaljregulering"/>
    </restriction>
  </simpleType>
  <simpleType name="RpPlantypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="RpOmråde" substitutionGroup="app:SOSI_Objekt_Planområde" type="app:RpOmrådeType">
    <annotation>
      <documentation>område for regulerings- og bebyggelsesplan/områderegulering, eller
        detaljregulering, jf. pbl. 1985 §§ 22 og 24 og 28-2, eller pbl. §§ 12-1, 12-2 og
        12-3</documentation>
    </annotation>
  </element>
  <complexType name="RpOmrådeType">
    <complexContent>
      <extension base="app:SOSI_Objekt_PlanområdeType">
        <sequence>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element name="arealplanId" type="app:NasjonalArealplanIdPropertyType">
            <annotation>
              <documentation>entydig identifikasjon for en plan innen en kommune eller et fylke
                (pbl. 1985 § 18, § 19-1, sjette ledd, § 20-1 andre og femte ledd og § 22 og §
                28-2/pbl. §§ 6-4, 8-1, 9-1, 11-1 og § 12-1, samt kart- og planforskriften § 9 andre
                og sjette ledd)</documentation>
            </annotation>
          </element>
          <element name="plantype" type="app:RpPlantypeType">
            <annotation>
              <documentation>type plan (pbl. 1985 § 19-1 sjette ledd, § 20-1 andre og femte ledd og
                § 22 og § 28-2/pbl. §§ 8-1, 11-5, 12-2 og 12-3)</documentation>
            </annotation>
          </element>
          <element name="planstatus" type="app:PlanstatusType">
            <annotation>
              <documentation>planens behandling (pbl. 1985 §§ 19-4, 20-5, 27-1, 27-2, 28-1 og 28-2)
                samt planens virkning (pbl. 1985 §§ 19-6, 20-6, 28-2 og 31/pbl. §§ 8-3, 8-4, 9-3,
                9-4, §§ 11-12 til 11-15, og §§ 12-8 til 12-12)</documentation>
            </annotation>
          </element>
          <element name="plannavn" type="string">
            <annotation>
              <documentation>planens navn (pbl. 1985 § 19-1 sjette ledd, § 20-1 andre og femte ledd
                og § 22 og § 28-2/pbl. §§ 6-4, 8-1, 9-1, 11-1 og § 12-1, samt kart- og
                planforskriften § 9 sjette ledd)</documentation>
            </annotation>
          </element>
          <element name="planbestemmelse" type="app:PlanbestemmelseType">
            <annotation>
              <documentation>angir om plan har bestemmelser, i så fall om de er egen tekst, og om de
                er påført plankartet (pbl. 1985 § 20-4 andre ledd bokstav a til h og § 26/pbl. §§
                11-9, 11-10 og 11-11, samt § 12-7)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ikrafttredelsesdato" type="date">
            <annotation>
              <documentation>dato for ikrafttredelse av planer (pbl. 1985 §§ 18, 19-1 sjette ledd,
                20-1 andre ledd, 22 og 28-2, samt pbl. §§ 8-4, 8-5, 11-6, 11- 15, 11-16, 12-4, 12-12
                og 12-13)</documentation>
            </annotation>
          </element>
          <element name="vertikalnivå" type="app:VertikalnivåType">
            <annotation>
              <documentation>planens eller innholdets beliggenhet i forhold til jordoverflaten (pbl.
                § 19-1 sjette ledd, § 20-1 andre og femte ledd og § 22 og § 28-2)</documentation>
            </annotation>
          </element>
          <element name="lovreferanse" type="app:LovreferanseTypeType">
            <annotation>
              <documentation>kode for hvilken lov planen er vedtatt etter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lovreferanseBeskrivelse" type="string">
            <annotation>
              <documentation>tekstlig beskrivelse av hvilken lov planen er vedtatt med hjemmel
                i</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomføringsfrist" type="date">
            <annotation>
              <documentation>frist for gjennomføring av private detaljplaner (pbl. § 12-4 femte
                ledd)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forslagsstillerType" type="app:ForslagsstillerTypeType">
            <annotation>
              <documentation>om forslagsstiller er privat eller offentlig
                planmyndighet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtakEndeligPlanDato" type="date">
            <annotation>
              <documentation>dato når arealplanen med tilhørende bestemmelser gjennom statlig,
                regionalt eller kommunalt vedtak etter plan- og bygningsloven har fått
                rettsvirkning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kunngjøringsdato" type="date">
            <annotation>
              <documentation>dato når endelig vedtatt arealplan eller planbestemmelse ble kunngjort,
                pbl. § 6-3, 8-5 siste ledd, 11-15 tredje ledd og 12-12 siste ledd</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opprinneligplanid" type="string">
            <annotation>
              <documentation>planidentifikasjon for opprinnelig plan. Brukes kun dersom planen har
                fått ny NasjonalArealplanid.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opprinneligadministrativenhet" type="string">
            <annotation>
              <documentation>administrativEnhet for opprinnelig plan. Brukes kun dersom planen har
                fått ny NasjonalArealplanid.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RpOmrådePropertyType">
    <sequence minOccurs="0">
      <element ref="app:RpOmråde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ForslagsstillerTypeType">
    <annotation>
      <documentation>om forslagsstiller er privat eller offentlig planmyndighet&#13;
      </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="offentlig"/>
      <enumeration value="privat"/>
    </restriction>
  </simpleType>
  <simpleType name="KpPlantypeType">
    <annotation>
      <documentation>type plan (pbl. 1985 § 19-1 sjette ledd, § 20-1 andre og femte ledd og § 22 og
        § 28-2/pbl. §§ 8-1, 11-5, 12-2 og 12-3)</documentation>
    </annotation>
    <union memberTypes="app:KpPlantypeEnumerationType app:KpPlantypeOtherType"/>
  </simpleType>
  <simpleType name="KpPlantypeEnumerationType">
    <annotation>
      <documentation>type plan (pbl. 1985 § 19-1 sjette ledd, § 20-1 andre og femte ledd og § 22 og
        § 28-2/pbl. §§ 8-1, 11-5, 12-2 og 12-3)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Kommuneplanens arealdel"/>
      <enumeration value="Kommunedelplan"/>
      <enumeration value="Mindre endring av kommune(del)plan"/>
    </restriction>
  </simpleType>
  <simpleType name="KpPlantypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KpPlanbestemmelserType">
    <annotation>
      <documentation>angir om plan har bestemmelser, i så fall om de er egen tekst, og om de er
        påført plankartet (pbl. 1985 § 20-4 andre ledd bokstav a til h og § 26/pbl. §§ 11-9, 11-10
        og 11-11, samt § 12-7)</documentation>
    </annotation>
    <union memberTypes="app:KpPlanbestemmelserEnumerationType app:KpPlanbestemmelserOtherType"/>
  </simpleType>
  <simpleType name="KpPlanbestemmelserEnumerationType">
    <annotation>
      <documentation>angir om plan har bestemmelser, i så fall om de er egen tekst, og om de er
        påført plankartet (pbl. 1985 § 20-4 andre ledd bokstav a til h og § 26/pbl. §§ 11-9, 11-10
        og 11-11, samt § 12-7)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Med bestemmelser som egen tekst"/>
      <enumeration value="Uten bestemmelser"/>
    </restriction>
  </simpleType>
  <simpleType name="KpPlanbestemmelserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VertikalnivåType">
    <annotation>
      <documentation>planens eller innholdets beliggenhet i forhold til jordoverflaten (pbl. § 19-1
        sjette ledd, § 20-1 andre og femte ledd og § 22 og § 28-2)</documentation>
    </annotation>
    <union memberTypes="app:VertikalnivåEnumerationType app:VertikalnivåOtherType"/>
  </simpleType>
  <simpleType name="VertikalnivåEnumerationType">
    <annotation>
      <documentation>planens eller innholdets beliggenhet i forhold til jordoverflaten (pbl. § 19-1
        sjette ledd, § 20-1 andre og femte ledd og § 22 og § 28-2)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Under grunnen (tunnel)"/>
      <enumeration value="På grunnen/vannoverflate"/>
      <enumeration value="Over grunnen (bru)"/>
      <enumeration value="På bunnen (vann/sjø)"/>
      <enumeration value="I vannsøylen"/>
    </restriction>
  </simpleType>
  <simpleType name="VertikalnivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="KpOmråde" substitutionGroup="app:SOSI_Objekt_Planområde" type="app:KpOmrådeType">
    <annotation>
      <documentation>område for kommune (-del) plan (pbl. 1985 § 20-4 første ledd, eller pbl. §
        11-5)</documentation>
    </annotation>
  </element>
  <complexType name="KpOmrådeType">
    <complexContent>
      <extension base="app:SOSI_Objekt_PlanområdeType">
        <sequence>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element name="arealplanId" type="app:NasjonalArealplanIdPropertyType">
            <annotation>
              <documentation>entydig identifikasjon for en plan innen en kommune eller et fylke
                (pbl. 1985 § 18, § 19-1 sjette ledd, § 20-1 andre og femte ledd og § 22 og §
                28-2/pbl. §§ 6-4, 8-1, 9-1, 11-1 og § 12-1, samt kart- og planforskriften § 9 andre
                og sjette ledd)</documentation>
            </annotation>
          </element>
          <element name="plantype" type="app:KpPlantypeType">
            <annotation>
              <documentation>type plan (pbl. 1985 § 19-1 sjette ledd, § 20-1 andre og femte ledd og
                § 22 og § 28-2/pbl. §§ 8-1, 11-5, 12-2 og 12-3)</documentation>
            </annotation>
          </element>
          <element name="planstatus" type="app:PlanstatusType">
            <annotation>
              <documentation>planens behandling (pbl. 1985 §§ 19-4, 20-5, 27-1, 27-2, 28-1 og 28-2)
                samt planens virkning (pbl. 1985 §§ 19-6, 20-6, 28-2 og 31/pbl. §§ 8-3, 8-4, 9-3,
                9-4, §§ 11-12 til 11-15, og §§ 12-8 til 12-12)</documentation>
            </annotation>
          </element>
          <element name="planbestemmelse" type="app:KpPlanbestemmelserType">
            <annotation>
              <documentation>angir om plan har bestemmelser, i så fall om de er egen tekst, og om de
                er påført plankartet (pbl. 1985 § 20-4 andre ledd bokstav a til h og § 26/pbl. §§
                11-9, 11-10 og 11-11, samt § 12-7)</documentation>
            </annotation>
          </element>
          <element name="lovreferanse" type="app:LovreferanseTypeType">
            <annotation>
              <documentation>kode for hvilken lov planen er vedtatt etter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lovreferanseBeskrivelse" type="string">
            <annotation>
              <documentation>tekstlig beskrivelse av hvilken lov planen er vedtatt med hjemmel
                i</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ikrafttredelsesdato" type="date">
            <annotation>
              <documentation>dato for ikrafttredelse av planer (pbl. 1985 §§ 18, 19-1 sjette ledd,
                20-1 andre ledd, 22 og 28-2, samt pbl. §§ 8-4, 8-5, 11-6, 11- 15, 11-16, 12-4, 12-12
                og 12-13)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plannavn" type="string">
            <annotation>
              <documentation>planens navn (pbl. 1985 § 19-1 sjette ledd, § 20-1 andre og femte ledd
                og § 22 og § 28-2/pbl. §§ 6-4, 8-1, 9-1, 11-1 og § 12-1, samt kart- og
                planforskriften § 9 sjette ledd)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtakEndeligPlanDato" type="date">
            <annotation>
              <documentation>dato når arealplanen med tilhørende bestemmelser gjennom statlig,
                regionalt eller kommunalt vedtak etter plan- og bygningsloven har fått
                rettsvirkning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kunngjøringsdato" type="date">
            <annotation>
              <documentation>dato når endelig vedtatt arealplan eller planbestemmelse ble kunngjort,
                pbl. § 6-3, 8-5 siste ledd, 11-15 tredje ledd og 12-12 siste ledd</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opprinneligplanid" type="string">
            <annotation>
              <documentation>planidentifikasjon for opprinnelig plan. Brukes kun dersom planen har
                fått ny NasjonalArealplanid.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opprinneligadministrativenhet">
            <annotation>
              <documentation>administrativEnhet for opprinnelig plan. Brukes kun dersom planen har
                fått ny NasjonalArealplanid.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KpOmrådePropertyType">
    <sequence minOccurs="0">
      <element ref="app:KpOmråde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PlanbestemmelseType">
    <annotation>
      <documentation>angir om plan har bestemmelser, i så fall om de er egen tekst, og om de er
        påført plankartet (pbl. 1985 § 20-4 andre ledd bokstav a til h og § 26/pbl. §§ 11-9, 11-10
        og 11-11, samt § 12-7)</documentation>
    </annotation>
    <union memberTypes="app:PlanbestemmelseEnumerationType app:PlanbestemmelseOtherType"/>
  </simpleType>
  <simpleType name="PlanbestemmelseEnumerationType">
    <annotation>
      <documentation>angir om plan har bestemmelser, i så fall om de er egen tekst, og om de er
        påført plankartet (pbl. 1985 § 20-4 andre ledd bokstav a til h og § 26/pbl. §§ 11-9, 11-10
        og 11-11, samt § 12-7)</documentation>
    </annotation>
    <restriction base="string">
      <!-- lagt inn etter shapechange FA -->
      <enumeration value="Med bestemmelser som egen tekst"/> 
      <enumeration value="Uten bestemmelser"/>
      <!--  -->
      <enumeration value="Planbestemmelser fremgår kun av kartet">
        <annotation>
          <documentation>Planbestemmelser fremgår kun av kartet (bygghøyder mv.)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Planbestemmelser både kart og tekst">
        <annotation>
          <documentation>Planbestemmelser både på kart og som egen tekst</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlanbestemmelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LovreferanseTypeType">
    <annotation>
      <documentation>kode for hvilken lov planen er vedtatt etter</documentation>
    </annotation>
    <union memberTypes="app:LovreferanseTypeEnumerationType app:LovreferanseTypeOtherType"/>
  </simpleType>
  <simpleType name="LovreferanseTypeEnumerationType">
    <annotation>
      <documentation>kode for hvilken lov planen er vedtatt etter</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Før BL 1924">
        <annotation>
          <documentation>Før bygningsloven av 1924</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BL 1924">
        <annotation>
          <documentation>Bygningsloven av 1924</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BL 1965">
        <annotation>
          <documentation>Bygningsloven av 1965</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PBL 1985">
        <annotation>
          <documentation>Plan- og bygningsloven av 1985</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PBL 1985 eller før">
        <annotation>
          <documentation>Plan- og bygningsloven av 1985 eller før</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PBL 2008">
        <annotation>
          <documentation>Plan- og bygningsloven av 2008</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LovreferanseTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="SOSI_Objekt_Planområde" substitutionGroup="gml:AbstractFeature"
    type="app:SOSI_Objekt_PlanområdeType">
    <annotation>
      <documentation>abstrakt objekt som bærer en rekke egenskaper som er fagområde-uavhengige og
        kan benyttes for alle objekttyper&#13; &#13; Merknad:&#13; Spesielt i
        produktspesifikasjonsarbeid vil en velge egenskaper og av grensningslinjer fra denne
        klassen.&#13; &#13; &#13; -- Definition -- &#13; abstract object which carries a number of
        attributes which are independent of specific disciplines and may be used for all object
        types</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SOSI_Objekt_PlanområdeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="førsteDigitaliseringsdato" type="dateTime">
            <annotation>
              <documentation>dato når en representasjon av objektet i digital form første gang ble
                etablert&#13; &#13; Merknad: &#13; førsteDigitaliseringsdato kan skille seg fra
                førsteDatafangstdato ved at den første datafangsten skjedde analogt og gjort om til
                digital form senere i en produksjonsprosess. &#13; Eventuelt at innlegging i
                databasen skjedde på et senere tidspunkt enn registreringen /observasjonen /
                målingen av objektet.&#13; &#13; -- Definition -- &#13; date when a representation
                of the object in digital form was established for the first time Note:
                firstDigitisationDate may differ from firstDataCaptureDate by the first data capture
                having been analog and converted into digital form later in a production
                ??&lt;truncated text&gt;</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>dato for siste endring på objektetdataene &#13; &#13; Merknad: &#13;
                Oppdateringsdato kan være forskjellig fra Datafangsdato ved at data som er
                registrert kan bufres en kortere eller lengre periode før disse legges inn i
                datasystemet (databasen).&#13; &#13; -- Definition -- &#13; date of latest
                modification of object data Note: Date of updating may differ from date of data
                capture in that data which is registered may be buffered for a shorter or longer
                period of time, before being entered into the computer system (the
                database).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="prosesshistorie" type="string">
            <annotation>
              <documentation>beskrivelse av de prosesser som dataene er gått gjennom som kan ha
                betydning for kvaliteten og bruken av dataene&#13; &#13; Merknad:&#13;
                Prosesshistorie vil kunne inneholde informasjon om transformasjoner. Hva slags
                informasjon som angis er ofte gitt i andre standarder, f.eks kvalitet og
                kvalitetsikring.&#13; &#13; -- Definition -- &#13; description of the processes
                through which the data has gone, and which may be significant for the quality and
                use of the data Note: ProcessHistory may contain information on transformations.
                What kind of information is given is often indicated in other standards
                ??&lt;truncated text&gt;</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>generell opplysning&#13; &#13; Merknad:&#13; mulighet til å legge inn
                utfyllende informasjon om objektet&#13; &#13; -- Definition -- &#13; general
                information Note: allows for entry of supplemental information about the
                object</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="link" type="string">
            <annotation>
              <documentation>referanse til et informasjonselement, enten lokalt eller
                globalt</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SOSI_Objekt_PlanområdePropertyType">
    <sequence minOccurs="0">
      <element ref="app:SOSI_Objekt_Planområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NasjonalArealplanId" substitutionGroup="gml:AbstractObject"
    type="app:NasjonalArealplanIdType">
    <annotation>
      <documentation>landsdekkende entydig og unikt kjennetegn (identifikasjon) på en arealplan.
      </documentation>
    </annotation>
  </element>
  <complexType name="NasjonalArealplanIdType">
    <sequence>
      <element name="administrativEnhet" type="app:AdministrativEnhetskodePropertyType">
        <annotation>
          <documentation>entyding identifikasjon av administrativ enhet</documentation>
        </annotation>
      </element>
      <element name="planidentifikasjon" type="string">
        <annotation>
          <documentation>entydig identifikasjon for en plan innen en kommune eller et fylke (pbl.
            1985 § 18, § 19-1 sjette ledd, § 20-1 andre og femte ledd og § 22 og § 28-2/pbl. §§ 6-4,
            8-1, 9-1, 11-1 og § 12-1, samt kart- og planforskriften § 9 andre og sjette
            ledd)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NasjonalArealplanIdPropertyType">
    <sequence>
      <element ref="app:NasjonalArealplanId"/>
    </sequence>
  </complexType>
  <element name="AdministrativEnhetskode" substitutionGroup="gml:AbstractObject"
    type="app:AdministrativEnhetskodeType">
    <annotation>
      <documentation>entyding identifikasjon av administrativ enhet</documentation>
    </annotation>
  </element>
  <complexType name="AdministrativEnhetskodeType">
    <choice>
      <element name="kommunenummer" type="gml:CodeType">
        <annotation>
          <documentation>nummerering av kommuner i henhold til SSB sin offisielle liste&#13; &#13;
            Merknad:&#13; Det presiseres at kommune alltid skal ha 4 siffer, dvs. eventuelt med
            ledende null. Kommune benyttes for kopling mot en rekke andre registre som også benytter
            4 siffer.</documentation>
        </annotation>
      </element>
      <element name="fylkesnummer" type="gml:CodeType">
        <annotation>
          <documentation>offisiell nummerering av fylker i henhold til SSBs offisielle liste&#13;
            &#13; Merknad:&#13; Det presiseres at fylkesnummer alltid skal ha 2 siffer, dvs.
            eventuelt med ledende null. Fylkesnummer benyttes for kopling mot en rekke andre
            registre som også benytter 2 siffer</documentation>
        </annotation>
      </element>
      <element name="landskode" type="gml:CodeType">
        <annotation>
          <documentation>entydig nummer for staten (1)</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="AdministrativEnhetskodePropertyType">
    <sequence>
      <element ref="app:AdministrativEnhetskode"/>
    </sequence>
  </complexType>
</schema>
